@(grids: Seq[Grid])

@main("Welcome to Play") {
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Grid Listing</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @for(g <- grids) {
            <li class="list-group-item"><a href="/grids/detail/@g.id">@g.name</a></li>
            }
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group">
        <a href="/grids/new" class="btn btn-white btn-default active">
            <i class="fa fa-cog" aria-hidden="true"></i> Create Grid
        </a>
        </div>
    </div>
</div>

}
