@(grids: Seq[Grid], form: Form[Grid], postUrl: Call)(implicit messages: Messages, request: RequestHeader)

@main("Welcome to Play") {
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Grid Listing</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @for(g <- grids) {
            <li class="list-group-item"><a href="/grids/@g.id">@g.name</a></li>
            }
        </ul>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Create Grid</h3>
    </div>
    <div class="panel-body">
        @helper.form(action = routes.GridController.createGrid) {
        @if(form.hasGlobalErrors) {
        <ul>
            @for(error <- form.globalErrors) {
            <li>@Messages(error.messages, error.args)</li>
            }
        </ul>
        }
        <div class="form-group">
            @helper.CSRF.formField
            @helper.input(form("name")) { (id, name, value, args) =>
            <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            }
            <input type="hidden" name="id" value="0" />
        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        }
    </div>
</div>

}
